.container {
    width: 100%;
    height: calc(100vh - 150px);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}

.container > h1 {
    text-align: center;
    width: 100%;
    height: 50px;
}

.container h3 {
    font-size: 1.5rem;
}

.container ul {
    width: fit-content;
}

.list, .search {
    margin: 25px auto;
    width: 45%;
    height: 80%;
}

.item {
    height: 1.75rem;
    font-size: 1.25rem;
}

.item > span {
    display: inline-block;
    float: right;
    -webkit-user-select: none;
    cursor: pointer;
}

.item > span:nth-child(2) {
    margin-left: 15px;
}

.search > form {
    margin: 10px 0;
}

.search > form > input {
    font-size: 18px;
}
.search > form > button {
    font-size: 18px;
}

.plus {
    font-size: 1.5rem;
    margin-left: 20px;
}