.header {
    height: 150px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.header > a {
    margin-left: 50px;
    padding: 0.25rem 0.5rem;
    border: 0.5px solid black;
    background: black;
    color: white;
    border-radius: 2.5px;
}

.header > a:hover {
    color: black;
    background: transparent;
}

.header > button {
    height: 25px;
    margin-left: auto;
    color: #000000;
    background-color: #ffffff;
    border: #000000 solid 1px;
    font-size: 18px;
    width: 100px;
    height: 25px;
    text-align: center;
    -webkit-user-select: none;
    cursor: default;
    margin-bottom: 15px;
}
.header > button:hover {
    color: #ffffff;
    background-color: #000000;
}