.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.card_container {
    height: 200px;
    width: calc(200px * 4.085);
    border-radius: 7.5px;
    display: flex;
    position: relative;
    background-position: 0 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    width: 100%;
    padding: 20px;
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    background: linear-gradient(to right, rgba(162, 204, 238, 0.2) 0%, #212120 100%);
}

.card > h3 {
    text-align: end;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    user-select: none;
}

.card:hover > h3 {
    color: rgba(255, 255, 255);
}


.card > button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    backface-visibility: hidden;
    border: 0.3rem solid rgb(255, 255, 255);
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
    margin-top: auto;
    cursor: pointer;
    user-select: none;
}

.card:hover > button {
    background-color: rgba(0, 0, 0, 0.8);
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.plus {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 0.5rem 1rem;
    background: none;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 1.5rem;
}

.plus:hover {
    background: rgba(0, 0, 0, 0.800);
    color: rgba(255, 255, 255, 0.699);
}